/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0px;
}
html, body {
  height: 100%;
}
body {
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(#134d71, #f7e4bf);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  color: white;
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* ~~~~~~~~~~~~~~~~~END RESET~~~~~~~~~~~~~~~~~ */

/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.box {
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 15%;
}

.title-header {
  margin: 3%;
  }

.message-header {
}

.selection-box {
  display: flex;
  width: 60vh;
  height: 15%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  margin-bottom: 6%;
  justify-content: space-evenly;
}
.radio-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

button {
  background-color: #134d71;
  border: none;
  color: white;
  border-radius: 5px;
  width: 24vh;
  border-color: white;
}

button:hover {
  /* border-color: white; */
  color: black;
  background-color: #FFB652;
}

button:disabled {
  color: white;
  background-color: #959595;
}

.results-box {
  display: flex;
  width: 60%;
  height: 20%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.meditate-svg {
  padding: 5vh;
  height: 20vh;
}

.message-result {
  line-height: 1;
  margin-left: 2%;
  margin-right: 2%;
  color: black;
  font-size: x-large;
  text-align: center;
}

.clear {
  width: 10vh;
}

.loader {
  border: 16px solid #FCEEBB;
  border-top: 16px solid #F1A3AF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin .7s linear infinite;
  /* box-shadow: 0px 0px 5px 5px rgba(0, 0, .5, 0.2); */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-in {
  animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fade-out {
  animation: fadeOut ease 2s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .selection-box {
    width: 80%;
    height: 15%;
  }

  .results-box {
    display: flex;
    width: 80%;
    height: 40%;
  }

  .message-result {
    margin-left: 6%;
    margin-right: 6%;
  }

}
